.element__like {
  width: 22px;
  height: 19px;
  padding: 0;
  margin-right: 20px;

  border: 0;
  background-color: transparent;
  cursor: pointer;

  transition: all .3s;

}

.element__like:hover {
  color: var(--hover-icon);
  fill: var(--hover-icon);
}