.popup__input {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 0 8px 0;

  position: relative;

  border: none;
  border-bottom: 1px solid black;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:invalid {
  background-image: url("../../../images/round-error-symbol_icon-icons.com_72585.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right 6.5px top 6.5px;
}

.popup__input:not(:placeholder-shown) {
  border-color: #EF5350;
}

.popup__input:valid {
  border-color: #9CCC65;
}

