.header {
  width: 100%;
  padding-top: 45px;
  margin-bottom: 40px;

  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 550px) {
  .header {
    padding-top: 26px;
    margin-bottom: 42px;
  }
}