.popup__window {
  color: var(--black);
  /*height: 2000px;*/
  margin: 50px;
  z-index: 11;
  position: relative;
  width: 430px;
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*overflow: hidden;*/
  /*overflow-Y: auto;*/
}
