.element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: center;

  width: 100%;

  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;

  overflow: hidden;
  align-items: center;

}

.element:hover > .element__image {
  transform: scale(1.1);
}
